Source: cl-sql
Section: devel
Priority: extra
Maintainer: Kevin M. Rosenberg <kmr@debian.org>
Build-Depends: debhelper (>= 4.0.0), libmysqlclient-dev, postgresql-dev
Build-Depends-Indep: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.0

Package: cl-sql
Architecture: all
Depends: cl-sql-base
Description: SQL Interface for Common Lisp
 CLSQL is a Common Lisp interface for multiple SQL databases
 on multiple Common Lisp implementations. It uses the UFFI
 foreign language interface.

Package: cl-sql-base
Architecture: all
Depends: common-lisp-controller (>= 3.37) 
Recommends: cl-sql-backend
Description: SQL Interface for Common Lisp
 CLSQL uses the UFFI library to provide SQL to multiple SQL databases
 on multiple Common Lisp implementations.
 .
 This package provides the base framework for database backends.

Package: cl-sql-uffi
Architecture: any
Depends: common-lisp-controller (>= 3.37), cl-uffi, cl-sql-base
Recommends: cl-sql-backend
Description: Common UFFI functions for CLSQL database backends
 This package provides an interface to several UFFI functions used by multiple
 CLSQL database backends.
 CLSQL is a Common Lisp interface to SQL databases.

Package: cl-sql-mysql
Architecture: any
Depends: cl-sql-base (>= ${Source-Version}), libmysqlclient12, cl-sql-uffi (>= ${Source-Version})
Provides: cl-sql-backend
Description: CLSQL database backend, MySQL
 This package enables you to use the CLSQL data access package
 with MySQL databases.
 CLSQL is a Common Lisp interface to SQL databases.

Package: cl-sql-aodbc
Architecture: all
Depends: cl-sql-base (>= ${Source-Version})
Provides: cl-sql-backend
Suggests: acl-pro-installer
Description: CLSQL database backend, AODBC
 This package enables you to use the CLSQL data access package
 with AllegroCL's AODBC databases.
 CLSQL is a Common Lisp interface to SQL databases.

Package: cl-sql-odbc
Architecture: all
Depends: cl-sql-base (>= ${Source-Version}),unixodbc-dev
Provides: cl-sql-backend
Suggests: acl-pro-installer
Description: CLSQL database backend, ODBC
 This package enables you to use the CLSQL data access package
 with ODBC databases.
 CLSQL is a Common Lisp interface to SQL databases.

Package: cl-sql-postgresql
Architecture: all
Depends: cl-sql-base (>= ${Source-Version}), postgresql-dev, cl-sql-uffi (>= ${Source-Version})
Provides: cl-sql-backend
Description: CLSQL database backend, PostgreSQL
 This package enables you to use the CLSQL data access package
 with PostgreSQL databases.
 CLSQL is a Common Lisp interface to SQL databases.

Package: cl-sql-postgresql-socket
Architecture: all
Depends: cl-sql-base (>= ${Source-Version}), cl-md5, cl-sql-uffi (>= ${Source-Version}), libc6-dev
Provides: cl-sql-backend
Description: CLSQL database backend, PostgreSQL
 This package enables you to use the CLSQL data access package
 with PostgreSQL databases via a socket interface.
 CLSQL is a Common Lisp interface to SQL databases.

Package: cl-sql-sqlite
Architecture: all
Depends: cl-sql-base (>= ${Source-Version}), libsqlite0-dev, cl-sql-uffi (>= ${Source-Version})
Provides: cl-sql-backend
Description: CLSQL database backend, SQLite
 This package enables you to use the CLSQL data access package
 with SQLite databases. 
 CLSQL is a Common Lisp interface to SQL databases.

Package: cl-sql-classic
Architecture: all
Depends: cl-sql-base (>= ${Source-Version})
Description: Classic CLSQL high-level interface
 This package provides the Classic, original high-level interface for CLSQL.
 CLSQL is a Common Lisp interface to SQL databases.

Package: cl-sql-tests
Architecture: all
Depends: cl-sql-base, cl-sql-postgresql, cl-sql-postgresql-socket, cl-sql-mysql, cl-rt, cl-ptester
Suggests: acl-installer, libmyodbc, unixodbc,cl-sql-aodbc 
Description: Testing suite for CLSQL
 This package contains a test suite for CLSQL. It requires manual
 configuration of MySQL and PostgreSQL databases to execute.
 A configured, licensed version of AllegroCL with ODBC setup is
 required to test the clsql-aodbc interface. See the
 /usr/share/doc/cl-sql-tests/README file if you want to try
 running these regression tests.

