Source: cl-sql
Section: devel
Priority: extra
Maintainer: Kevin M. Rosenberg <kmr@debian.org>
Build-Depends: debhelper (>= 4.0.0), libmysqlclient10-dev, postgresql-dev
Standards-Version: 3.5.7.0

Package: cl-sql
Architecture: all
Depends: cl-sql-base
Description: SQL Interface for Common Lisp
 CLSQL uses the UFFI library to provide SQL to multiple SQL databases
 on multiple Common Lisp implementations.

Package: cl-sql-base
Architecture: any
Depends: common-lisp-controller (>= 3.27)
Recommends: cl-sql-backend
Description: SQL Interface for Common Lisp
 CLSQL uses the UFFI library to provide SQL to multiple SQL databases
 on multiple Common Lisp implementations.
 .
 This package provides the base framework for database backends.

Package: cl-sql-uffi
Architecture: any
Depends: common-lisp-controller (>= 3.27), cl-uffi, cl-sql-base
Recommends: cl-sql-backend
Description: Common UFFI functions for CLSQL database backends
 This package provides an interface to several UFFI functions used by multiple CLSQL database backends.

Package: cl-sql-mysql
Architecture: any
Depends: cl-sql-base (>= ${Source-Version}), libmysqlclient10, cl-sql-uffi (>= ${Source-Version})
Provides: cl-sql-backend
Description: CLSQL database backend, MySQL
 This package enables you to use the CLSQL data access package
 with MySQL databases.

Package: cl-sql-aodbc
Architecture: all
Depends: cl-sql-base (>= ${Source-Version}), acl-pro-installer
Provides: cl-sql-backend
Description: CLSQL database backend, AODBC
 This package enables you to use the CLSQL data access package
 with AllegroCL's AODBC databases.

Package: cl-sql-postgresql
Architecture: all
Depends: cl-sql-base (>= ${Source-Version}), postgresql-client, cl-sql-uffi (>= ${Source-Version})
Provides: cl-sql-backend
Description: CLSQL database backend, PostgreSQL
 This package enables you to use the CLSQL data access package
 with PostgreSQL databases.

Package: cl-sql-postgresql-socket
Architecture: all
Depends: cl-sql-base (>= ${Source-Version})
Provides: cl-sql-backend
Description: CLSQL database backend, PostgreSQL
 This package enables you to use the CLSQL data access package
 with PostgreSQL databases via a socket interface.
