#!/bin/sh 
set -e

pkg=%%

case "$1" in
    configure)
	common-lisp-only-compatible $pkg allegro cmucl lispworks
	register-common-lisp-source $pkg
	;;
    abort-upgrade|abort-remove|abort-deconfigure)
	;;
    *)
        echo "postinst called with unknown argument \`$1'" >&2
        exit 0
	;;
esac

#DEBHELPER#

exit 0
