#!/bin/bash
# This is part of clsql program: 
#    http://clsql.med-info.com
#
# Copyright (c) 2002 Kevin M. Rosenberg

pkg=%%
dir=/usr/share/common-lisp-source/source/$pkg

case "$1" in
    install|upgrade|abort-upgrade)
	test -h $dir && rm $dir 
	rm -rf ${dir}-[0-9\.]+

	;;
    *)
        echo "preinst called with unknown argument '$1'" >&2
	;;
esac

#DEBHELPER#

exit 0
