#!/bin/bash -e

pkg=%%

case "$1" in
    remove|upgrade|deconfigure)
	/usr/sbin/unregister-common-lisp-source ${pkg}
        ;;

    failed-upgrade)
        ;;

    *)
        echo "prerm called with unknown argument \`$1'" >&2
        exit 0
	;;
esac

#DEBHELPER#

exit 0
