#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

pkg		:= cl-sql
pkg-base	:= cl-sql-base
pkg-mysql	:= cl-sql-mysql
pkg-pg		:= cl-sql-postgresql
pkg-pg-socket	:= cl-sql-postgresql-socket
all-pkgs	:= $(pkg) $(pkg-base) $(pkg-mysql) $(pkg-pg) $(pkg-pg-socket)

prefix		:= debian/$(pkg)
prefix-base	:= debian/$(pkg-base)
prefix-mysql	:= debian/$(pkg-mysql)
prefix-pg	:= debian/$(pkg-pg)
prefix-pg-socket := debian/$(pkg-pg-socket)

##
## lisp sources per pkg
##
srcs		:= sql/pool.cl sql/sql.cl sql/transactions.cl sql/utils.cl sql/functional.cl sql/usql.cl
		   $(filter-out sql/metadata.lisp,$(wildcard sql/*.lisp))
srcs-base	:= sql/package.cl sql/db-interface.cl sql/classes.cl sql/conditions.cl $(wilcard cmu-compat/*.cl)
srcs-mysql	:= $(wildcard interfaces/mysql/*.cl)
srcs-pg		:= $(wildcard interfaces/postgresql/*.cl)
srcs-pg-socket	:= $(wildcard interfaces/postgresql-socket/*.cl)

INSTALL	:= install
INSTALLFLAGS	:= -g root -o root -m 0644
INSTALLDIRFLAGS	:= -d -g root -o root -m 0755

clc-source	:= /usr/share/common-lisp/source
clc-repositories:= /usr/share/common-lisp/repositories/clsql
clc-systems	:= /usr/share/common-lisp/systems
doc-dir		:= $(prefix)/usr/share/doc/cl-sql


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	# Add here commands to compile the package.
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# CLSQL-Base
	$(INSTALL) $(INSTALLFLAGS) clsql.system.debian $(SYSDIR)
	mv $(SYSDIR)/clsql.system.debian $(SYSDIR)/clsql.system
	$(INSTALL) $(INSTALLFLAGS) $(shell echo sql/*.cl) $(REPOSITORYDIR)/sql
	$(INSTALL) $(INSTALLFLAGS) $(shell echo src/interfaces/*.cl) $(REPOSITORYDIR)/interfaces

	# Documentation
	$(INSTALL) $(INSTALLFLAGS) doc/html/* $(DOCDIR)/html
	cp doc/clsql.pdf doc/cl-sql.pdf
	rm -f doc/cl-sql.pdf.gz
	gzip doc/cl-sql.pdf
	$(INSTALL) $(INSTALLFLAGS) doc/cl-sql.pdf.gz $(DOCDIR)
	rm -f doc/cl-sql.pdf.gz

	# CLC Systems
	$(INSTALL) $(INSTALLFLAGS) clsql.system $(prefix)/$(clc-systems)/
	$(INSTALL) $(INSTALLFLAGS) clsql-base.system $(prefix-base)/$(clc-systems)/
	$(INSTALL) $(INSTALLFLAGS) clsql-mysql.system $(prefix-mysql)/$(clc-systems)/
	$(INSTALL) $(INSTALLFLAGS) clsql-postgresql.system $(prefix-pg)/$(clc-systems)/
	$(INSTALL) $(INSTALLFLAGS) clsql-postgresql-socket.system $(prefix-pg-socket)/$(clc-systems)/


# Build architecture-independent files here.
binary-indep: build install



# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples examples/*.cl
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

